.divRow, .innerDiv, .container{
    border: solid black 2px;
}

.divRow {
    display: flex;
    align-content: stretch;

}
.innerDiv {
    width: 100%;
    height: 42px;
}
.changeGrid {
    display: flex;
    justify-content: center;
    margin: 4ch;
}